body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
}

main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#0d7dfd;
}
li:hover{
    background: #0d7dfd;
    color:#fff;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}
#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}

.calendar-container {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background: #f6f5f4;
    color: #1a1a1a;
  }
  h1 {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  .calendar {
    padding: 0 30px 30px 30px;
  }
  table {
    width: 100%;
  }
  th, td {
    text-align: center;
    padding: 10px;
  }
  th {
    font-weight: normal;
    font-size: 14px;
  }
  td {
    font-weight: bold;
  }
  .day *:first-child {
    color: #ff838b;
  }
  .day *:last-child {
    color: #6fb5ff;
  }


button {
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
 opacity: 0.7;
}

.hidden {
  display: none;
}

#btn2-text{
  margin: 16px 0;
  font-size: 14px;
  color: red;
}

/* ボタンと押したらでるやつ */

button {
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
 opacity: 0.7;
}

.hidden {
  display: none;
}



#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: red;
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.c-btn{
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);

}

.under_line{
 text-decoration: underline;
}
   